html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0 auto;
}

p {
    font-size: 12px;
    color: #000;
    margin: 6px;
}

h1 {
    font-size: 25px;
    color: #000;
    margin: 6px;
}

h2 {
    font-size: 16px;
    color: #000;
    margin: 6px;
}

select {
    margin-left: 2px !important;
}

option[disabled] {
    color: #b50a0a !important;
}

a {
    color: #d81921;
}

    a:hover {
        color: #ed121b;
    }

    a.disabled {
        cursor: not-allowed !important;
    }

label {
    font-weight: normal;
}

table {
    width: 100%;
}

td,
th {
    vertical-align: middle;
    text-align: left;
}

th {
    padding: 4px 4px;
}

td {
    padding: 3px 0px;
}

/*select, 
input[type=text] {
    background-color: #fff;
    border: 0px solid #00f;
    color: #000;
}*/
