@{
    ViewBag.Title = "Acerca";
}
<h2>Sistemas de tickets - UPC</h2>
<h3>Sistemas Distribuidos - 2016</h3>

<p> El objetivo de este proyecto es crear un sistema distribuido 
    <br /> empleando metodología SOA, que permita a la empresa llevar un 
    <br />  óptimo control del proceso de atención de citas , haciendo partícipe al 
    <br />  cliente a través de  una plataforma web amigable, minimizando los costos y 
    <br />  aumentando la eficacia y eficiencia en el servicio.
</p>
