@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>EQUIPO</h3>

<p>

Equipo: SOATeam <br />
Proyecto: Registro de Citas para Mantenimiento de Vehículos - Taller La Chutana<br />
Repositorio: https://github.com/ccastillo89/SOATEAM  <br />

Integrantes: <br />
Carlos Alfredo Castillo Calderon  - 201323409 <br />
Orestes Isidro Fuentes Velasquez  - 201401643 <br />
Ivan Fidel Juárez Sevilla         - 201321192 <br />
Miguel Antonio Matos Quispe       - 201321808 <br />
</p>