@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Gestion de Tickets</h1>
    <p class="lead">SOATEAM</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Misión:</h2>
        <p>
            Brindamos el mejor servicio de lavado y mantenimiento automotriz satisfaciendo las más altas exigencias de nuestros clientes, ofreciendo:
            <br /> - Calidad y garantía
            <br /> - Eficiencia
            <br /> - Trabajo en equipo
            <br /> - Puntualidad
        </p>
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>Ser reconocidos como líderes en toda América en servicios automotrices brindando productos a la medida de la necesidad del cliente en nuestros locales actuales, y en los que próximamente se abrirán.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Valores:</h2>
        <p>
            <strong>Honestidad: </strong>Nuestros colaboradores informan objetivamente de las operaciones requeridas y las partes recomendadas, para así determinar sobre el importe justo del servicio.
            <br /> <strong>Responsabilidad: </strong> Durante la permanencia de su auto en nuestras instalaciones, una póliza de responsabilidad civil responde ante cualquier incidente que pueda ocurrir.
            <br /> <strong>Honradez:</strong> Procedemos con rectitud y probidad ante nuestros clientes.
        </p>
        
    </div>
</div>