<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVehiculoService" />
                <binding name="BasicHttpBinding_IUsuariosService" />
                <binding name="BasicHttpBinding_IParametrosService" />
                <binding name="BasicHttpBinding_ISeguridadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16005/VehiculoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehiculoService"
                contract="VehiculoWS.IVehiculoService" name="BasicHttpBinding_IVehiculoService" />
            <endpoint address="http://localhost:16005/UsuariosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuariosService"
                contract="GestionUsuariosWS.IUsuariosService" name="BasicHttpBinding_IUsuariosService" />
            <endpoint address="http://localhost:16005/ParametrosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParametrosService"
                contract="ParametrosWS.IParametrosService" name="BasicHttpBinding_IParametrosService" />
            <endpoint address="http://localhost:16005/SeguridadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService"
                contract="SeguridadWS.ISeguridadService" name="BasicHttpBinding_ISeguridadService" />
        </client>
    </system.serviceModel>
</configuration>